---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#dc2626">
    <meta name="theme-color" content="#0ed3cf">

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="google-adsense-account" content="ca-pub-1477830203682344">

    <title>YMovies</title>
  </head>
  <body class="bg-gray-200">
    <div>
      <div class="h-screen flex justify-center items-center bg-cover bg-center" 
           style="">
        <div class="absolute top-0 left-0 mt-5 ml-5">
          <h1 class="text-red-600 font-bold font-sans text-2xl">        YMovies</h1>

        </div>
        <div class="space-y-5">
          <p class=" font-bold text-5xl flex flex-col items-center">
          <span>Unlimited movies and more,<br /></span>
          <span> for free. </span>
          </p>
          <p class=" font-semibold text-3xl flex flex-col items-center">Watch anywhere. No card required.</p>
          <p class=" text-lg flex flex-col items-center">Ready to watch? Search a good movies and enjoy.</p>
          <form class="flex flex-row items-center justify-center" url="/movies">
            <input type="text" placeholder="Search movies" class="p-4 focus:outline-none focus:ring-1 focus:ring-blue-300 w-3/4" />
            <button class="p-4 text-l font-semibold bg-red-600 hover:bg-red-700 text-white">Get Started ></button>
          </form>
        </div>
      </div>
      <Footer />
    </div>
</body>
</html>

