---
import { type CollectionEntry, getCollection, getEntries } from 'astro:content';
import MoviePage from '../../layouts/MoviePage.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
const movies = await getCollection('movie');

return movies.map(movie => ({
params: { slug: movie.data.slug },
props: { movie },
}));
}

const { movie } = Astro.props;
const { Content } = await render(movie);

const related = await getEntries(movie.data.related);

---

<MoviePage {...movie.data} related={related}>
  <div
      class="prose dark:prose-invert
             prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
	<Content />
    </div>
</MoviePage>
