---
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const movies = (await getCollection('movie'))
---

<!doctype html>
<html lang="en">
	<head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1477830203682344"
          crossorigin="anonymous"></script>

	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						movies.map((movie) => (
							<li>
								<a href={`/movies/${movie.id}/`}>
									<img width={720} height={360} src={movie.data.heroImage} alt="" />
									<h4 class="title">{movie.data.name}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
