---
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const movies = (await getCollection('movie'))
//.sort(
//	(a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
//);
---

<!doctype html>
<html lang="en">
	<head>
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						movies.map((movie) => (
							<li>
                {JSON.stringify(movie.data)}
								<a href={`/watch/${movie.id}/`}>
									<img width={720} height={360} src={movie.data.heroImage} alt="" />
									<h4 class="title">{movie.data.name}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
